body {
    margin: 0;
}
h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3 {
    margin: 10px 0 0 0;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}
a, p {
    font-family: Arial, Helvetica, sans-serif; 
}
input {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
}
input[type=submit] {
    background-color: #4aaaa5;
    border: 0;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
  }
textarea {
    height: 150px;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #dddddd;
    border-radius: 4px;
    font-size: 16px;
    resize: vertical;
}
button {
    margin: 10px 10px 20px 0;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #4aaaa5;
    text-decoration: none;
    cursor: pointer;
    outline: none;

}
.header {
    top: 0;
    height: 57px;
    background-color: #ffffff;
    border-bottom: 3px solid #4aaaa5;
    background-color: #666666;
}
.top-nav {
    width: 960px;
    height: 57px;
    margin: 0 auto;
}
.logo-wrapper {
    width: 250px;
    height: 57px;
    background-color: #4aaaa5;
}
.logo { 
    padding-top: 10px;
    color: #ffffff;
    text-shadow: 1px 3px 8px #545454;
    text-align: center;
    display: block;
    font-size: 32px;
    font-weight: bold;
}
.nav {
    float: right;
    height: 57px;
}
.nav a {
    margin: 0 5px;
    padding: 18px 10px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
}
.nav a:hover{
    background-color: #4aaaa5;
}
.main-container {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 70px;
    width: 960px;
    height: auto;
    background-color: #fdfcf8;
    border: 2px solid #dddddd;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    overflow: auto;
}
.section-header{
    left: 10px;
    top: 10px;
    margin: 20px;
    color: #4aaaa5;
    border-bottom: 2px solid #dddddd;
}
.content {
    width: 100%;
}
.bioimage {
    float: left;
    padding: 5px 10px;
    width: 200px;
}
.bio {
    margin: 20px;
}
.workexample {
    float: left;
    width: 310px;
    height: 310px;
}
.workimg{
    margin: -35px 17.5px;
    width: 275px;
    height: 275px;
    display: inline-block;
    background-color: #d11717
}
.titlewrapper {
    position: relative;
    top: 230px;
    padding-bottom: 10px;
    margin: 0 auto;
    width: 275px;
    background-color: #4aaaa5;
}
.workTitle {
    padding-top: 10px;
    color: #ffffff;
    text-shadow: 1px 3px 8px #545454;
    text-align: center;
    display: block;
    font-size: 24px;
    font-weight: bold;
}
.contact-form {
    margin-left: 20px;
    width: 920px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    font-size: smaller;
    margin-top: 10px;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    border-top: 8px solid;
    border-color: #4aaaa5;
    background-color: #666666;
}
.footer p {
    padding-bottom: 10px;
}
#message {
    height: 150px;
}
